<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.822" newVersion="2.1.0.793"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.822" newVersion="2.1.0.793"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
